<div class="container desktop--hidden">
  <div class="menu">
    <img src="./../../../assets/images/menu-mobile.svg" alt="" />
  </div>

  <div>
    <img class="" src="./../../../assets/images/logo-mobile.svg" alt="" />
  </div>

  <div class="search">
    <img src="./../../../assets/images/search-mobile.svg" alt="" />
  </div>
</div>

<div class="container mobile--hidden">

  <span class="name"> Oi, {{ header.user.name }} :)</span>

  <div>
    <img class="" src="./../../../assets/images/logo.svg" alt="" />
  </div>

  <div>
    <div class="input__container">
      <img
        class="input__container__icon"
        src="./../../../assets/images/search.svg"
        alt=""
      />
      <input class="input__container__input" placeholder="Buscar" type="text" />
    </div>
  </div>
</div>
