.vertical-button {
  display: flex;
  flex-flow: column;
  background: #FFFFFF;
  padding: 10px 5px;
  cursor: pointer;

  &[data-border=true], &.active {
    box-shadow: 0px 4px 8px rgba(169, 178, 184, 0.4);
    border-radius: 8px;
  }

  &.active {
    border: 2px solid #24b2c6;

    .icon {
      background-image: url('/assets/images/vertical-buttons-bg-icon.png');
    }
  }

  &:not(.active) {
    opacity: 0.5;

    .icon {
      background-image: url('/assets/images/vertical-buttons-bg-icon-not-active.png');
    }
  }

  .icon {
    width: 52px;
    height: 52px;
    margin: auto;
    background: no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6F727B;
  }
}
