
@import "src/variables.scss";
.badge {
    background-image: url('../../../../assets/img/badge.svg');
    background-size: cover;
    width: 45px;
    height: 65px;
    display: flex;
}
.wing {
    background-image: url('../../../../assets/img/wings.svg');
    background-size: cover;
    width: 77px;
    height: 30px;
    display: flex;
}

.title {
    font-size: 18px;
    color: $nearly-black;
    font-weight: bold;
}

.score {
    color: $green-text;
    font-size: 18px;
    font-weight: bold;
}

.score-total {
    color: $green-text;
    font-size: 14px;
}

.w-300 {
    width: 300px;
}