// Media Queries for Standard Devices

/* Breakpoints bootstrap */
$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px)';
$md: 'only screen and (min-width: 768px)';
$lg: 'only screen and (min-width: 992px)';
$xlg: 'only screen and (min-width: 1200px)';