.pillars-title

    position: static
    width: 676px
    height: 40px
    left: 0px
    top: 0px

    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 32px
    line-height: 40px

    text-align: center

    color: #666D86

    mix-blend-mode: normal
    flex: none
    order: 0
    flex-grow: 0
    margin: 16px 0px

    padding-left: 25%
    padding-right: 25%

.pillars-image
    height: 5vw

.pillars-image-container-active
    border: solid 1px blue
    border-radius: 10%
    padding: 10px
    padding-left: 20px
    padding-right: 20px
    align-content: center
    text-align: center

.pillars-image-container
    border: solid 1px white
    border-radius: 10%
    padding: 10px
    padding-left: 20px
    padding-right: 20px
    align-content: center
    text-align: center

.content-container
    padding-left: 40%
    padding-right: 45%
    display: flex

.simple-title

    position: static
    left: 0px
    top: 0px
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 32px

    color: #666D86

    mix-blend-mode: normal

    flex: none
    order: 1
    flex-grow: 0
    margin: 24px 0px

    padding-left: 25%
    padding-right: 25%

.discover-card
    background-image: url('/assets/discover.png')
    background-size: contain
    background-repeat: no-repeat
    width: 48%
    padding-top: 13%
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)

.card-container
    padding-left: 25%
    padding-right: 25%
    padding-bottom: 1%
    width: 100%
    display: flex

.card-container-vertical
    padding-bottom: 1%
    width: 100%
    display: flex
    flex-direction: column
    padding-left: 2%
    padding-right: 2%

.develop-card
    width: 46%
.card-button
    background-color: #047453
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5)

.card-button-locked
    background-color: #D8DAE1
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5)
    color: #666d865e

.content-open
    font-size: 25px
    padding-left: 5%
.card-chip
    background-color: #047453
    border-radius: 16px
    color: white
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 16px
.card-chip-list
    padding-left: 15%
    padding-bottom: 4%
    display: flex
.card-icon
    color: green
    padding-left: 8px
    font-size: 15px

.card-title
    display: flex
    align-items: center

.card-content
    padding-left: 5%
    height: 100%
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    color: #484D5F

.card-favorite
    color: #747474
    padding-left: 75%

.icon-time
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
    color: #666D86

.card-actions
    display: flex
    padding-left: 14.5%

.simple-title-secondary
    color: #00A79D
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px

.card-vertical-footer
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 10px
    line-height: 13px
    color: #E8E8E8

.card-carrousel
    display: flex
    padding-left: 25%
    padding-right: 25%
