<div class="pillars-title">
  Pilares da Comunicação Eficaz
</div>
<div class="content-container">
  <div class="pillars-image-container-active">
    <img src="/assets/clareza.png" class="pillars-image">
    <h4>Clareza</h4>
  </div>
  <div class="pillars-image-container">
    <img src="/assets/objetividade.png" class="pillars-image">
    <h4>Objetividade</h4>
  </div>
  <div class="pillars-image-container">
    <img src="/assets/compreensao.png" class="pillars-image">
    <h4>Compreensão</h4>
  </div>
</div>
<div class="simple-title">
  Descubra mais sobre voce
</div>
<div class="card-container">
  <mat-card class="develop-card">
    <div class="card-chip-list">
      <mat-chip-list>
        <mat-chip class="card-chip">Identificar</mat-chip>
      </mat-chip-list>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-favorite">favorite_border
      </mat-icon>
    </div>
    <mat-card-title class="card-title">
      <button mat-fab color="primary" aria-label="Example" class="card-button comunication">
        <mat-icon aria-hidden="false" aria-label="Example home icon">done
        </mat-icon>
      </button>
      <p class="card-content">Minha comunicação é clara?</p>
      <img src="/assets/image-card.png" alt="">
    </mat-card-title>

    <mat-card-actions class="card-actions">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon">schedule</mat-icon>
      <p class="icon-time">2 Minutos</p>
    </mat-card-actions>
  </mat-card>
</div>
<div class="simple-title">
  Desenvolva suas habilidades
</div>

<div class="card-container">
  <mat-card class="develop-card">
    <div class="card-chip-list">
      <mat-chip-list>
        <mat-chip class="card-chip">Aprender</mat-chip>
      </mat-chip-list>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-favorite">favorite_border
      </mat-icon>
    </div>
    <mat-card-title class="card-title">
      <button mat-fab color="primary" aria-label="Example" class="card-button">2</button>
      <p class="card-content">Comunicação Consciente</p>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="content-open">chevron_right
      </mat-icon>
    </mat-card-title>

    <mat-card-actions class="card-actions">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon">schedule</mat-icon>
      <p class="icon-time">2 Minutos</p>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="develop-card">
    <div class="card-chip-list">
      <mat-chip-list>
        <mat-chip class="card-chip">Praticar</mat-chip>
      </mat-chip-list>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-favorite">favorite_border
      </mat-icon>
    </div>
    <mat-card-title class="card-title">
      <button mat-fab color="primary" aria-label="Example" class="card-button-locked">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-locked">lock</mat-icon>
      </button>
      <p class="card-content">10 Praticas para uma boa comunicação</p>
    </mat-card-title>

    <mat-card-actions class="card-actions">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon">schedule</mat-icon>
      <p class="icon-time">2 Minutos</p>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="develop-card">
    <div class="card-chip-list">
      <mat-chip-list>
        <mat-chip class="card-chip">Mapear</mat-chip>
      </mat-chip-list>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-favorite">favorite_border
      </mat-icon>
    </div>
    <mat-card-title class="card-title">
      <button mat-fab color="primary" aria-label="Example" class="card-button-locked">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-locked">lock</mat-icon>
      </button>
      <p class="card-content">4 Regras da boa comunicação</p>
    </mat-card-title>

    <mat-card-actions class="card-actions">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon">schedule</mat-icon>
      <p class="icon-time">2 Minutos</p>
    </mat-card-actions>
  </mat-card>
</div>

<div class="simple-title simple-title-secondary">
  Conteúdos recomendados
</div>
<div class="card-carrousel">
  <div class="card-container-vertical">
    <mat-card class="recommended-card">
      <div mat-card-image src="/assets/filler.png" class="filler">
        <div class="filler-row">
          <div class="recommended-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-recommended">menu_book
            </mat-icon>
          </div>
        </div>
      </div>
      <mat-card-title class="recommended-title">
        What Your Most Vivid Memories Say About You
      </mat-card-title>
      <mat-card-content class="recommended-content">
        <p>
          Even when we believe that we've created a happy, ideal life for…
        </p>
      </mat-card-content>
      <mat-card-actions class="card-vertical-footer">
        ler mais
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-footer">bookmark_border
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card-container-vertical">
    <mat-card class="recommended-card">
      <div mat-card-image src="/assets/filler.png" class="filler">
        <div class="filler-row">
          <div class="recommended-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-recommended">menu_book
            </mat-icon>
          </div>
        </div>
      </div>
      <mat-card-title class="recommended-title">
        What Your Most Vivid Memories Say About You
      </mat-card-title>
      <mat-card-content class="recommended-content">
        <p>
          Even when we believe that we've created a happy, ideal life for…
        </p>
      </mat-card-content>
      <mat-card-actions class="card-vertical-footer">
        ler mais
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-footer">bookmark_border
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card-container-vertical">
    <mat-card class="recommended-card">
      <div mat-card-image src="/assets/filler.png" class="filler">
        <div class="filler-row">
          <div class="recommended-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-recommended">menu_book
            </mat-icon>
          </div>
        </div>
      </div>
      <mat-card-title class="recommended-title">
        What Your Most Vivid Memories Say About You
      </mat-card-title>
      <mat-card-content class="recommended-content">
        <p>
          Even when we believe that we've created a happy, ideal life for…
        </p>
      </mat-card-content>
      <mat-card-actions class="card-vertical-footer">
        ler mais
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="card-icon-footer">bookmark_border
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>