<div class="pillars-title">
  Pilares da Comunicação Eficaz
</div>
<div class="content-container">
  <div class="pillars-image-container-active">
    <img src="/assets/clareza.png" class="pillars-image">
    <h4>Clareza</h4>
  </div>
  <div class="pillars-image-container">
    <img src="/assets/objetividade.png" class="pillars-image">
    <h4>Objetividade</h4>
  </div>
  <div class="pillars-image-container">
    <img src="/assets/compreensao.png" class="pillars-image">
    <h4>Compreensão</h4>
  </div>
</div>
<div class="simple-title">
  Descubra mais sobre voce
</div>
<div class="card-container">
  <div class="discover-card">

  </div>
</div>
<div class="simple-title">
  Desenvolva suas habilidades
</div>