<div class="container desktop--hidden">
    <div class="menu">
      <img src="./../../../assets/images/menu-mobile.svg" alt="" />
    </div>
  </div>
  
  <div class="container mobile--hidden">
    <div class="menu-wrapper">
      <div class="menu">
        <div class="hamburger">
          <img src="./../../../assets/images/menu.svg" alt="" />
        </div>
  
        <div class="icons-content">
          <img *ngFor="let item of header.menuIcons" [src]="item.icon" />
        </div>
      </div>
    </div>
  </div>
  