@import "../../../styles/variables.scss";

div {
  @extend %ff_primary;
  font-weight: 400;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  box-shadow: 1px 1px 5px #787272;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  position: relative;
  overflow: hidden;

  @media #{$xs} {
    width: 19px;
    height: 19px;
    font-size: 8.95px;
    line-height: 13.43px;
  }

  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    background-image: linear-gradient(#00000063 -200%, transparent);
  }

  span {
    display: block;
    text-transform: uppercase;
  }
}
